@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Variables */

:root {
    /* Colores primarios */
    --primary-solid: #FF5733; /* Naranja */
    --primary-900: #E44D19; /* Naranja oscuro */
    --primary-500: #FF8855; /* Naranja medio */
    --primary-300: #FFA477; /* Naranja claro */

    /* Colores secundarios */
    --secondary-solid: #3498db; /* Azul */
    --secondary-900: #2c7daf; /* Azul oscuro */
    --secondary-500: #5aa6d6; /* Azul medio */
    --secondary-300: #83c1ea; /* Azul claro */

    /* Grises y neutros */
    --dark-solid: #333; /* Gris oscuro sólido */
    --dark-900: #222; /* Casi negro */
    --dark-500: #555; /* Gris oscuro medio */
    --dark-300: #777; /* Gris claro oscuro */
    --dark-bg-solid: #2a2a2a; /* Fondo gris oscuro sólido */

    --light-bg-solid: #f4f4f4; /* Fondo gris claro */
    --light-font-solid: #f9f9f9; /* Color de texto para contrastar con fondos oscuros */
    --dark-font-solid: #ffffff /* Color negro*/

    /* Tipografías */

    --alternative-font: 'Raleway', 'Roboto';
    --base-font: 'Montserrat', 'Raleway';

    /*Tamaños*/

    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Espaciados */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-48: 4.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

/* Estilos generales */

body {
    font-family: var(--base-font);
    background-color: var(--light-bg-solid);
    color: var(--dark-solid);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

/*Header*/
.logo {
    max-width: 180px; 
}

.navbar {
    background-color : var(--primary-solid);
}

.navbar .navbar-nav {
    margin-left: auto;
}

.navbar .nav-link {
    color: var(--light-font-solid);
}

.navbar .nav-link:hover {
    color: var(--secondary-solid);
    text-decoration: none;
}

.dropdown-menu {
    background-color: var(--primary-300); /* Naranja claro */
}

.dropdown-item {
    color: var(--dark-solid); /* Gris oscuro */
}

.dropdown-item:hover {
    background-color: var(--primary-500); /* Naranja medio */
    color: var(--light-font-solid); /* Blanco */
}

.navbar-toggler-icon {
    background-color: var(--light-font-solid); /* Blanco */
}

.navbar-brand {
    margin-right: var(--spacing-24);
}

.bg-light{
    background-color: var(--primary-solid) !important;
}

/*Search bar*/

.search-bar {
    font-family: var(--alternative-font);
    bottom: var(--spacing-36);
    text-align: center;
    background-color: var(--primary-solid);
    
}
.search-input{
    padding: 10px 50px;
}

.search-input, .search-button {
    font-family: var(--alternative-font);
    margin-right: var(--spacing-8);
    margin: var(--spacing-8);
    
}

.search-button {
    background-color: var(--secondary-500);
    padding: var(--spacing-8);
}

/* Banner*/

.banner__container{
    width: 100%;
    object-fit: cover;
}

.banner {
    background-image: url(../media/img/bannerfinal.png);
    background-size: cover;
    height: 20rem;
    display: flex;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.banner__image {
    object-fit: cover;
    width: 100%;
}

.banner__title{
    position: absolute;
    bottom: calc(25% + 10px);  /* Esta es la distancia desde la parte inferior de la imagen*/
    left: 50%;
    transform: translateX(-50%);  /* Asegura que el centro del título esté alineado con el centro de la imagen */
    z-index: 10;  /* Asegura que el título aparezca por encima de la imagen */
    background-color: var(--primary-300) ;
    border-radius: 1rem;
    padding: 15px;
    
}

.btn-destacado {
    position: absolute;
    top: 75%;
    font-family: var(--alternative-font);
    background-color: var(--secondary-500);
    padding: var(--spacing-8) var(--spacing-24);
    border: none;
    
    color: var(--dark-font-solid);
    border-radius: 5px;

}

/*Main*/

.main-index{
    margin-bottom: 50px;
}

.games-title{
    text-align: center;
    padding: 50px;
}

.game__price{
    color: var(--dark-bg-solid);
    font-size: large;
}

.game__promo{
    color: var(--secondary-solid);
}

/* Games Featured */

.card{
    
}

.games-featured{
    margin: 30px;
}
.games-featured .card {
    margin-bottom: var(--spacing-24);  /* Añade espacio entre las cards y otros elementos */
}

.games-featured .card-img-top {
    transition: transform 0.3s;  /* Añade una transición suave al efecto de zoom */
}

.games-featured .card:hover .card-img-top {
    transform: scale(1.05);
}

/*Carrusel*/

.latest-releases{
    text-align: center;
}

.carousel-inner {
    height: 300px; 
}

.carousel-item img {
    height: 100%;
    object-fit: cover; /* hace que la imagen cubra el espacio sin distorsionarse */
}

#myCarousel {
    width: 50%;
    margin: auto;
}

.carousel-indicators {
    bottom: 10px;
}

.carousel-control-prev, .carousel-control-next {
    top: 50% !important; 
    transform: translateY(-50%);
    
}

/* Footer */

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-24);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
}

.footer-logo {
    max-width: 80px;
}

.footer-nav .footer-link {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    padding: var(--spacing-8);
    text-decoration: none;
    margin-left: var(--spacing-8);
}

/* Estilos para pantallas de 600px o menos (mobile) */

@media only screen and (max-width: 600px) {

img, video {
    max-width: 100%;
    height: auto;
}

/* Header */

.navbar-toggler-icon {
    background-color: var(--primary-solid);
}

.navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    border: 2px solid var(--light-bg-solid);
}

.main-header {
    flex-direction: column;
    align-items: center;
}

.main-nav {
    margin-top: var(--spacing-12);
}

.main-nav .nav-link {
    display: block;
    margin: var(--spacing-8) 0;
}

/* Search bar */
.search-bar {
    flex-direction: column;
}

.search-input, .search-button {
    width: 50%;
    margin: var(--spacing-8) 0;
    font-size: smaller;
}

/* Banner */

.banner__container{
    width: 100%;
    
}

.banner {
    flex-direction: column;
    width: 100%;
    
}

.banner__image{
    max-width: 100%;
    height: auto;
    display: block;
    
}

.banner__title, .btn-destacado {
    font-size: smaller;
    align-items: center;
}

/* Games Featured */

.card-body{
    font-size: smaller;
}

.games-featured{
    flex-direction: column;
}
.games-featured .card {
    flex-direction: column;
}

/*Carrusel*/

.carousel-inner {
    height: 200px;
}

/* Footer */
.main-footer {
    flex-direction: column;
    text-align: center;
}

.footer-nav {
    margin-top: var(--spacing-12);
}



}

/*Register*/

.body-register{
    background-image: url(../media/img/bannerfinal.png);
    background-size: cover;

}

.registration-form {
    background-color: white;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid var(--secondary-solid);
    border-radius: 10px;
}

.registration-form label {
    display: block;
    margin-bottom: 8px;
}

.registration-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

.registration-form button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #2980b9;
}

.registration-form h1 {
    color: #3498db;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
    border: 1px solid #3498db;
    border-radius: 4px;
}

.registration-form button {
    border-radius: 4px;
}

.registration-form button:hover {
    background-color: #2980b9;
}

/* Contact */

.body-contact{
    background-image: url(../media/img/bannerfinal.png);
    background-size: cover;

}

.main-contact {
    background-color: white;
    max-width: 500px;
    margin: 30px auto;
    border: 3px solid var(--secondary-solid);
    border-radius: 10px;
    padding: var(--spacing-24);
}

.contact-form {
    max-width: 600px;
    margin: auto;
}

.contact-form h1 {
    text-align: center;
    color: var(--secondary-solid);
}

.contact-form label,
.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    margin-bottom: var(--spacing-8);
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: var(--secondary-500);
    color: var(--light-font-solid);
    padding: var(--spacing-8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--secondary-300);
}

/* Games filters*/

.filter-container{
    width: 280px;
    padding: 20px 30px;
}

.filter {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}

.filter input {
    width: 100%; 
    padding: 10px;
}